################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReactAndWebAPI/v15
/Backend/bin/Debug/netcoreapp2.0
/Backend/obj
